&__button {
  height: 58px;
  padding: 15px 23px;
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  cursor: pointer;
  @media(max-width: 425px) {
    width: 100%;
    border-radius: 5px;
  }
}