html {
  font: bold 16px Montserrat;
}

body {
  background: #FAFAFA;
}

._container {
  padding: 0 5px;
  margin: 0 auto;
  max-width: 1050px;
}

._ibg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

._ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  position: absolute;
  z-index: 50;
  width: 100%;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91px;
  flex: 0 0 91px;
  margin-right: 132px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 104px;
}

.header__navList {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__navListItem {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.header__navListItem:not(:last-child) {
  margin-right: 21px;
}

.header a:visited {
  color: inherit;
}

.header a:hover {
  text-decoration: underline;
}

.mainBlock {
  position: relative;
}

.mainBlock__ibg img {
  -o-object-position: right;
  object-position: right;
}

.mainBlock__body {
  max-width: 395px;
  padding-top: 184px;
  padding-bottom: 191px;
  position: relative;
  z-index: 10;
}

.mainBlock__title {
  margin-bottom: 35px;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.mainBlock__text {
  margin-bottom: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}

.mainBlock__buttons {
  max-width: 352px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.button {
  padding: 9px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #0D5C63;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 37px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #0D5C63;
}

.button--orange {
  background: #FF7B47;
  color: #FFFFFF;
  border: 1px solid #FF7B47;
}

.feature {
  background: white;
  min-height: 242px;
  max-width: 328px;
  padding: 35px 40px;
  cursor: default;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.feature__image {
  position: relative;
  margin-bottom: 10px;
}

.feature__title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.feature__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.feature__active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.feature--active {
  background: #0D5C63;
}

.feature--active .feature__active {
  opacity: 1;
}

.feature--active .feature__title {
  color: white;
}

.feature--active .feature__text {
  color: white;
}

.features {
  position: relative;
  margin-top: -121px;
  z-index: 30;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blockHeader__title {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
}

.blockHeader__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.expFeature {
  padding: 30px;
  max-width: 230px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: #FFFFFF;
}

.expFeature *:not(:last-child) {
  margin-bottom: 10px;
}

.expFeature__img {
  text-align: center;
}

.expFeature__count {
  text-align: center;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.expFeature__text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #737373;
}

.experience {
  margin-top: -124px;
  padding: 201px 0 80px 0;
  background: #FAFAFA;
}

.experience__blockHeader {
  margin-bottom: 50px;
}

.experience__expFeatures {
  margin: 0 -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.experience__expFeature {
  width: 230px;
  margin: 0 5px;
}

.practAdviceFeature {
  max-width: 230px;
  background: white;
}

.practAdviceFeature__body {
  padding: 30px;
  min-height: 203px;
}

.practAdviceFeature__title {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.practAdviceFeature__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.practAdviceFeature__img {
  height: 138px;
}

.practAdviceFeature__img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.practAdvice {
  padding: 125px 0;
  background: #FAFAFA;
}

.practAdvice__blockHeader {
  margin-bottom: 45px;
}

.practAdvice__practAdviceFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about {
  padding: 100px 0 136px 0;
  background: #FFFFFF;
}

.about__blockHeader {
  margin-bottom: 100px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about__video {
  width: 600px;
  height: 442px;
  -ms-flex-item-align: center;
  align-self: center;
}

.about__video img {
  display: block;
  width: 100%;
}

.about__discription {
  max-width: 333px;
}

.about__aboutTitle {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.about__aboutText {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.about__aboutList {
  max-width: 333px;
}

.about__aboutListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.about__aboutListItem:not(:last-child) {
  margin-bottom: 30px;
}

.about__listItemIcon {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__listItemBody {
  max-width: 277px;
}

.about__listItemText {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.about__listItemTitle {
  margin-bottom: 5px;
}

.clients {
  padding: 57px 0 137px 0;
  background: #FAFAFA;
}

.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.clients__image img {
  display: block;
}

.subscribe {
  position: relative;
  margin-top: -62px;
}

.subscribe__form {
  padding: 30px 50px;
  background: #17213C;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 986px;
}

.subscribe__title {
  margin-right: auto;
  max-width: 266px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.subscribe__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  padding: 0;
  padding-left: 20px;
  width: 333px;
  height: 58px;
  border: 1px solid #E6E6E6;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.subscribe__input::-webkit-input-placeholder {
  font: normal 14px/28px Montserrat;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input::-moz-placeholder {
  font: normal 14px/28px Montserrat;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input:-ms-input-placeholder {
  font: normal 14px/28px Montserrat;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input::-ms-input-placeholder {
  font: normal 14px/28px Montserrat;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input::placeholder {
  font: normal 14px/28px Montserrat;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__button {
  height: 58px;
  padding: 15px 23px;
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  cursor: pointer;
}

.line {
  margin-top: -64px;
  height: 77px;
  background: #252B42;
}

.contact {
  padding: 50px 40px;
  background: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact__image {
  position: relative;
  margin: 0 auto 15px;
  width: 72px;
  height: 72px;
}

.contact__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.contact__active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.contact__email {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}

.contact__email:last-of-type {
  margin-bottom: 15px;
}

.contact__text {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}

.contact__button {
  display: block;
  margin: 0 auto;
  max-width: 160px;
  padding: 9px 19px;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FF7B47;
}

.contact--active {
  padding: 80px 40px;
  background: #252B42;
}

.contact--active .contact__active {
  opacity: 1;
}

.contact--active .contact__email {
  color: white;
}

.contact--active .contact__text {
  color: white;
}

.contact--active .contact__button {
  color: white;
  background: #252B42;
  border: 1px solid white;
}

.contacts {
  padding: 80px 0 148px 0;
  background: #F3F3F3;
}

.contacts__blockHeader {
  margin: 0 0 80px 0;
}

.contacts__body {
  margin: 0 auto;
  max-width: 985px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__contact {
  width: 328px;
}

.contactUs {
  padding: 40px 0;
  background: #FAFAFA;
}

.contactUs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contactUs__body {
  margin: 0 397px 0 0;
}

.contactUs__title {
  margin: 0 0 10px 0;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.contactUs__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.contactUs__button {
  padding: 15px 40px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #FF7B47;
  border-radius: 5px;
}

.footerList__listTitle {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.footerList__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.footerList__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.footerList__link {
  color: #FFFFFF;
}

.footerList__link:hover {
  text-decoration: underline;
}

.footerList--contacts .footerList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footerList--contacts .footerList__image {
  margin: 0 10px 0 0;
}

.footer__lists {
  padding: 50px 0;
  background: #17213C;
}

.footer__listsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__footerList {
  margin: 0 30px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 152px;
  flex: 0 1 152px;
}

.footer__copyright {
  padding: 25px 0;
}

.footer__copyrightContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copyrightText {
  text-align: center;
  margin: 0 445px 0 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social__item:not(:last-child) {
  margin: 0 20px 0 0;
}

.social__link {
  display: block;
}

.social__image {
  display: block;
}

@media (max-width: 1120px) {
  .mainBlock__ibg {
    opacity: 0.5;
  }
}

@media (max-width: 1100px) {
  .practAdviceFeature:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .contactUs__content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .contactUs__body {
    margin: 0;
  }

  .footer__listsContent {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .features__feature:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 993px) {
  .features__content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 960px) {
  .mainBlock__text {
    color: black;
  }
}

@media (max-width: 959px) {
  .experience__expFeatures {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .experience__expFeature:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 942px) {
  .about__body {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 870px) {
  .header__navListItem {
    color: black;
  }
}

@media (max-width: 768px) {
  .subscribe__title {
    margin: 0 auto 20px;
    max-width: none;
  }

  .subscribe__body {
    margin: 0 auto;
  }

  .footerList--contacts .footerList__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__listsContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__footerList {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin: 0 0 10px 0;
    text-align: center;
    border-bottom: 1px solid white;
  }

  .footer__footerList .footerList__list {
    display: none;
  }

  .footer__footerList .footerList__listTitle {
    margin: 0;
  }

  .footer__copyrightText {
    margin: 0 200px 0 0;
  }
}

@media (max-width: 530px) {
  .header__logo {
    margin-right: 60px;
    font-size: 18px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 91px;
    flex: 0 1 91px;
  }

  .header__navList {
    margin: 0 -5px;
  }

  .header__navListItem {
    font-size: 12px;
  }
}

@media (max-width: 469px) {
  .practAdvice__practAdviceFeatures {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 440px) {
  .mainBlock__title {
    font-size: 40px;
  }

  .mainBlock__button {
    margin: 10px 0;
  }
}

@media (max-width: 425px) {
  .subscribe__form {
    padding: 30px 10px;
  }

  .subscribe__title {
    font-size: 18px;
  }

  .subscribe__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .subscribe__input {
    width: 100%;
    border-radius: 5px;
    margin: 0 0 20px 0;
  }

  .subscribe__button {
    width: 100%;
    border-radius: 5px;
  }

  .contactUs__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contactUs__body {
    margin: 0 0 10px 0;
  }

  .contactUs__title {
    font-size: 18px;
    text-align: center;
  }

  .contactUs__text {
    text-align: center;
  }

  .contactUs__button {
    width: 80%;
  }

  .footer__copyrightContent {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__copyrightText {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 390px) {
  .header__logo {
    margin-right: 20px;
    font-size: 17px;
  }
}

@media (max-width: 375px) {
  .contacts__blockHeader .blockHeader__text br {
    display: none;
  }

  .contactUs__title {
    font-size: 15px;
  }
}

@media (max-width: 353px) {
  .mainBlock__button {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

@media (max-width: 320px) {
  .subscribe__title {
    font-size: 16px;
  }
}