&__button {
  display: block;
  margin: 0 auto;
  max-width: 160px;
  padding: 9px 19px;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FF7B47;
}