.practAdviceFeature {
  max-width: 230px;
  background: white;
  @import './__body/practAdviceFeature__body.scss';
  @import './__title/practAdviceFeature__title.scss';
  @import './__text/practAdviceFeature__text.scss';
  @import './__img/practAdviceFeature__img.scss';
  @media (max-width: 1100px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}