doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="main.min.css")
    title Landing3
  body 
    .wrapper
      header.header.wrapper__header
        .header__container._container
          .header__body
            .header__logo Relvise
            nav.header__navigation 
              ul.header__navList 
                li.header__navListItem 
                  a(href="#") Home
                li.header__navListItem 
                  a(href="#") Product
                li.header__navListItem
                  a(href="#") Pricing
                li.header__navListItem
                  a(href="#") Contact
      main
        section.mainBlock.wrapper__mainBlock
          .mainBlock__container._container 
            .mainBlock__body 
              h1.mainBlock__title Finance and Consultancy Solution
              .mainBlock__text We know how large objects will act, but things on a small scale.
              .mainBlock__buttons 
                a(href="#").mainBlock__button.button.button--orange Get Quote Now
                a(href="#").mainBlock__button.button Learn More
          .mainBlock__ibg._ibg 
            img(src="./img/cover.jpg", alt="cover")
        section.features.wrapper__features 
          .features__content._container
            .feature.features__feature
              .feature__content
                .feature__image 
                  img.feature__default(src="./img/features/EC.svg", alt="EC")
                  img.feature__active(src="./img/features/ECwhite.svg", alt="")
                h3.feature__title Environmental Consulting
                .feature__text We focus on ergonomics and meeting you where you work.
            .feature.features__feature
                .feature__content
                  .feature__image 
                    img.feature__default(src="./img/features/FC.svg", alt="EC")
                    img.feature__active(src="./img/features/FCwhite.svg", alt="")
                  h3.feature__title Finance and consultancy 
                  .feature__text Just type what's on your mind and we'll get you there.
            .feature.features__feature
                .feature__content
                  .feature__image 
                    img.feature__default(src="./img/features/FS.svg", alt="EC")
                    img.feature__active(src="./img/features/FSwhite.svg", alt="")
                  h3.feature__title Financial Services Consulting
                  .feature__text The quick fox jumps over the lazy dog
        section.experience.wrapper__experience
          .experience__content._container
            .blockHeader.experience__blockHeader 
              h2.blockHeader__title Designing Better Experience
              .blockHeader__text Problems trying to resolve the conflict between the two major realms#[br]of Classical physics: Newtonian mechanics
            .experience__expFeatures
              .expFeature.experience__expFeature
                .expFeature__content
                  .expFeature__img 
                    img(src="./img/expFeatures/1.svg", alt="people")
                  .expFeature__count 972 +
                  .expFeature__text Consumer Products
              .expFeature.experience__expFeature
                .expFeature__content
                  .expFeature__img 
                    img(src="./img/expFeatures/2.svg", alt="molecule")
                  .expFeature__count 181 +
                  .expFeature__text Financial Services
              .expFeature.experience__expFeature
                .expFeature__content
                  .expFeature__img 
                    img(src="./img/expFeatures/3.svg", alt="medal")
                  .expFeature__count 98%
                  .expFeature__text Environmental
              .expFeature.experience__expFeature
                .expFeature__content
                  .expFeature__img 
                    img(src="./img/expFeatures/4.svg", alt="case")
                  .expFeature__count 746 +
                  .expFeature__text Business & Finance
        section.practAdvice.wrapper__practAdvice
          .practAdvice__content._container
            .blockHeader.practAdvice__blockHeader 
              h2.blockHeader__title Practice Advice
              .blockHeader__text Problems trying to resolve the conflict between#[br]the two major realms of Classical physics: Newtonian mechanics 
            .practAdvice__practAdviceFeatures
              .practAdviceFeature.practAdvice__practAdviceFeature
                .practAdviceFeature__content 
                  .practAdviceFeature__body
                    .practAdviceFeature__title A single source of truth
                    .practAdviceFeature__text Newton thought that light was made up of particles, but then it was discovered 
                  .practAdviceFeature__img 
                    img(src="./img/practAdviceFeatures/1.jpg", alt="")
              .practAdviceFeature.practAdvice__practAdviceFeature
                .practAdviceFeature__content 
                  .practAdviceFeature__body
                    .practAdviceFeature__title Fastest way to organize
                    .practAdviceFeature__text “Quantum mechanics” is the description of the behaviour of matter
                  .practAdviceFeature__img 
                    img(src="./img/practAdviceFeatures/2.jpg", alt="")
              .practAdviceFeature.practAdvice__practAdviceFeature
                .practAdviceFeature__content 
                  .practAdviceFeature__body
                    .practAdviceFeature__title Fastest way to take action
                    .practAdviceFeature__text They describe a universe consisting of bodies moving 
                  .practAdviceFeature__img 
                    img(src="./img/practAdviceFeatures/3.jpg", alt="")
              .practAdviceFeature.practAdvice__practAdviceFeature
                .practAdviceFeature__content 
                  .practAdviceFeature__body
                    .practAdviceFeature__title Work better together
                    .practAdviceFeature__text They finally obtained a consistent description of the behaviour 
                  .practAdviceFeature__img 
                    img(src="./img/practAdviceFeatures/4.jpg", alt="")
        section.about.wrapper__about 
          .about__content._container
            .blockHeader.about__blockHeader 
              h2.blockHeader__title Who We Are
              .blockHeader__text Problems trying to resolve the conflict between the two major realms#[br]of Classical physics: Newtonian mechanics 
            .about__body 
              .about__video 
                img(src="./img/about/video.jpg", alt="video")
              .about__discription 
                h2.about__aboutTitle Most trusted in our field
                .about__aboutText Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
                ul.about__aboutList 
                  li.about__aboutListItem 
                    .about__listItemIcon
                      img(src="./img/about/1.svg", alt="people")
                    .about__listItemBody
                      h5.about__listItemTitle the quick fox jumps over the lazy dog
                      .about__listItemText Things on a very small scale ...
                  li.about__aboutListItem 
                    .about__listItemIcon
                      img(src="./img/about/2.svg", alt="clock")
                    .about__listItemBody
                      h5.about__listItemTitle the quick fox jumps over the lazy dog
                      .about__listItemText Things on a very small scale ...
        section.clients.wrapper__clients
          .clients__content._container 
            .clients__image 
              img(src="./img/clients/hooli.svg", alt="hooli")
            .clients__image 
              img(src="./img/clients/lyft.svg", alt="lyft")
            .clients__image 
              img(src="./img/clients/hat.svg", alt="hat")
            .clients__image 
              img(src="./img/clients/stripe.svg", alt="stripe")
            .clients__image 
              img(src="./img/clients/aws.svg", alt="aws")
            .clients__image 
              img(src="./img/clients/reddit.svg", alt="reddit")
        section.subscribe.wrapper__subscribe
          .subscribe__content._container
            form.subscribe__form(action="get") 
              .subscribe__title Subscribe For Latest Newsletter
              .subscribe__body
                //- .subscribe__inputWrap 
                input.subscribe__input(type="text", placeholder="Your Email")
                button.subscribe__button Subscribe
        section.line.wrapper__line 
        section.contacts.wrapper__contacts 
          .contacts__content._container
            .blockHeader.contacts__blockHeader 
              h2.blockHeader__title Get In Touch
              .blockHeader__text Problems trying to resolve the conflict between#[br] the two major realms of Classical physics: Newtonian mechanics 
            .contacts__body
              .contact.contacts__contact 
                .contact__image 
                  img.contact__active(src="./img/contacts/phoneWhite.svg", alt="phoneWhite")
                  img.contact__default(src="./img/contacts/phone.svg", alt="phone")
                p.contact__email georgia.young@example.com
                p.contact__email georgia.young@ple.com
                .contact__text Get Support
                a.contact__button(href="#") Submit Request
              .contact.contacts__contact 
                .contact__image 
                  img.contact__active(src="./img/contacts/mapWhite.svg", alt="mapWhite")
                  img.contact__default(src="./img/contacts/map.svg", alt="map")
                p.contact__email georgia.young@example.com
                p.contact__email georgia.young@ple.com
                .contact__text Get Support
                a.contact__button(href="#") Submit Request
              .contact.contacts__contact 
                .contact__image 
                  img.contact__active(src="./img/contacts/massegeWhite.svg", alt="massageWhite")
                  img.contact__default(src="./img/contacts/massege.svg", alt="massage")
                p.contact__email georgia.young@example.com
                p.contact__email georgia.young@ple.com
                .contact__text Get Support
                a.contact__button(href="#") Submit Request
        section.contactUs.wrapper__contactUs 
          .contactUs__content._container 
            .contactUs__body
              .contactUs__title Consulting Agency For Your Business
              .contactUs__text the quick fox jumps over the lazy dog
            a.contactUs__button(href="#") Contact Us
        footer.footer.wrapper__footer 
            section.footer__lists 
              .footer__listsContent._container
                .footer__footerList.footerList
                  h5.footerList__listTitle Company Info
                  ul.footerList__list
                    li.footerList__item
                      a.footerList__link(href="") About Us
                    li.footerList__item
                      a.footerList__link(href="") Carrier
                    li.footerList__item
                      a.footerList__link(href="") We are hiring
                    li.footerList__item
                      a.footerList__link(href="") Blog
                .footer__footerList.footerList
                  h5.footerList__listTitle Legal
                  ul.footerList__list
                    li.footerList__item
                      a.footerList__link(href="") About Us
                    li.footerList__item
                      a.footerList__link(href="") Carrier
                    li.footerList__item
                      a.footerList__link(href="") We are hiring
                    li.footerList__item
                      a.footerList__link(href="") Blog
                .footer__footerList.footerList
                  h5.footerList__listTitle Features
                  ul.footerList__list
                    li.footerList__item
                      a.footerList__link(href="") Business Marketing
                    li.footerList__item
                      a.footerList__link(href="") User Analytic
                    li.footerList__item
                      a.footerList__link(href="") Live Chat
                    li.footerList__item
                      a.footerList__link(href="") Unlimited Support
                .footer__footerList.footerList
                  h5.footerList__listTitle Resources
                  ul.footerList__list
                    li.footerList__item
                      a.footerList__link(href="") IOS & Android
                    li.footerList__item
                      a.footerList__link(href="") Watch a Demo
                    li.footerList__item
                      a.footerList__link(href="") Customers
                    li.footerList__item
                      a.footerList__link(href="") API
                .footer__footerList.footerList--contacts
                  h5.footerList__listTitle Get In Touch
                  ul.footerList__list
                    li.footerList__item
                      img.footerList__image(src="./img/footerList/phone.svg", alt="phone")
                      a.footerList__link(href="tel:4805550103") (480) 555-0103
                    li.footerList__item
                      img.footerList__image(src="./img/footerList/map.svg", alt="map")
                      a.footerList__link(href="") 4517 Washington Ave.
                    li.footerList__item
                      img.footerList__image(src="./img/footerList/email.svg", alt="emale")
                      a.footerList__link(href="mailto:debra.holt@example.com") debra.holt@example.com
            //- section.footer__copyright
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
script(type='module' src="./main.js") 