html {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
}
body {
  background: #FAFAFA;
}
._container {
  padding: 0 5px;
  margin: 0 auto;
  max-width: 1050px;
}
._ibg {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
h5 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

@import './blocks/header/header.scss';
@import './blocks/mainBlock/mainBlock.scss';
@import './blocks/button/button.scss';
@import './blocks/feature/feature.scss';
@import './blocks/features/features.scss';
@import './blocks/blockHeader/blockHeader.scss';
@import './blocks/expFeature/expFeature.scss';
@import './blocks/experience/experience.scss';
@import './blocks/practAdviceFeature/practAdviceFeature.scss';
@import './blocks/practAdvice/practAdvice.scss';
@import './blocks/about/about.scss';
@import './blocks/clients/clients.scss';
@import './blocks/subscribe/subscribe.scss';
@import './blocks/line/line.scss';