.header {
  position: absolute;
  z-index: 50;
  width: 100%;

  @import './__logo/header__logo.scss';
  @import './__body/header__body.scss';
  @import './__navigation/header__navigation.scss';
  @import './__navList/header__navList.scss';
  @import './__navListItem/header__navListItem.scss'; 

  a:visited {
    color: inherit;
  }
  a:hover {
    text-decoration: underline;
  }
}